title: phoenix-testing-report
date: 2015-08-20 23:16:03
tags: phoenix
categories: dev
---

The testing report PDF:
![Apache-Phoenix-Testing-Report.pdf](/Apache Phoenix - public.pdf)
