title: Presto-Testing-Report
date: 2015-08-20 23:27:32
tags: presto
categories: dev
---

The testing report PDF:
![Presto-Testing-Report.pdf](/Presto Testing Report - public.pdf)
